<h1>Welcome to Word Counter App!</h1>

<form action="/results">
  <div class="form-group">
    <label for="words">Type some words, any words will do.</label>
    <input id="words" name="words" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="find">What word would you like to know the frequency of in your words above?</label>
    <input id="find" name="find" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Submit</button>
</form>