<!DOCTYPE html>
<html>
  <head>
    <title>Word Counter!</title>
    <!-- <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'> -->
    <link rel='stylesheet' href='bootstrap_slate.css'>
    <link rel='stylesheet' href='custom.css'>
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
